APP_DEBUG=True
APP_ENV="development"
APP_DECRYPT_KEY="c1fVXJIR_Rw8txaHCqRCXFtYNLBTBt_Ot7FhneH5fUo="
APP_SECRET_KEY="eb1565bd75ae6af977f0c7338b5dc06bf88fb1b1c4be207d9112e8d4d0a50377"
ADMIN_USER="admin"
ADMIN_PASSWORD="admin"
UVICORN_HOST="0.0.0.0"
UVICORN_PORT=8000
UVICORN_RELOAD=True
UVICORN_LOG_LEVEL="INFO"
UVICORN_TIMEOUT_KEEP_ALIVE=5
UVICORN_TIMEOUT_GRACEFUL_SHUTDOWN=5
