APP_DEBUG=False
APP_ENV="production"
APP_DECRYPT_KEY="WnbiKhdw9hysCb-ldLEKZToGp_ZR4LjdpEvetC1HpRQ="
APP_SECRET_KEY="b46a3eb6ca31b313f6d5a05bdafec53fc9340711ffbfdc70c557790fc6534488"
ADMIN_USER="admin"
ADMIN_PASSWORD="$argon2id$v=19$m=65536,t=3,p=4$Cv7tlyLi9YnLKBzuC2yYJw$5rH9SDBNLuEx2OV3d6NXIQ9s+OSfPEBWntzftArZnSE"
