APP_DEBUG=True
APP_ENV="production"
APP_DECRYPT_KEY="gv96x4USTsNXgtEnnB8ZijwLNWGARKajp3iE3G8J_T4="
APP_SECRET_KEY="eac0b8f9f883dc8ab153c9fbec9204a60dfd806ac8b3fea87ea98fb61cde3dfa"
ADMIN_USER="admin"
ADMIN_PASSWORD="admin"
UVICORN_HOST="0.0.0.0"
UVICORN_PORT=8000
UVICORN_RELOAD=True
UVICORN_LOG_LEVEL="info"
UVICORN_TIMEOUT_KEEP_ALIVE=5
UVICORN_TIMEOUT_GRACEFUL_SHUTDOWN=5
